h1{
    background-color: green;
    text-align: center;
    color: white;
    padding: 20px;
    margin: 10px;
}
img{
    padding: 20px;
    margin-left: 450px;
}
p{
    background-color: black;
    padding: 30px;
    color: wheat;
    margin: 20px;
}